#hero {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

#card {
    padding-top: 100px;
    width: 600px;
    height: auto;
    background-color: #eb3b5a;
    color: #ffffff;
    padding: 50px;
    font: normal 13pt/1.5 Arial;
    text-align: justify;
}
.card__img {
    display: block;
    opacity: 20%;
    padding: 10px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.card__desc {
    height: 150px;
}
.card__autor {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    font-weight: bold;
}
.card__buttons{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
}
.card__btn {
    border-radius: 50%;
    padding: 15px;
}