.bg {
    background-color: #e4e4e4;
    font: normal 16pt Arial;
}
#login {
    display: flex;
    justify-content: center;
}
.card {    
    padding: 40px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #ffffff;
    width: auto;
    border-radius: 5px;
}
.card__title {
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
}

.form__input {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
}
.form__input--btn {
    margin-top: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
